.a-1-jpg {
	background: #000 url(a/sprite-top-down-1.jpg) left top no-repeat;
}
.a-2-jpg {
	background-image: url(a/sprite-top-down-2.jpg);
}
.a-1-png {
	background-image: url(a/sprite-top-down-1.png);
}
.a-2-png {
	background-image: url(a/sprite-top-down-2.png);
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min--moz-device-pixel-ratio: 2), 
(min-device-pixel-ratio: 2) {
	.a-1-2x-jpg {
		background: #000 url(a/sprite-top-down-1-2x.jpg) left top no-repeat;
	}
	.a-2-2x-jpg {
		background-image: url(a/sprite-top-down-2-2x.jpg);
	}
}