.a-no-sprite-jpg {
	background: url(a/no-sprite.jpg) left top no-repeat;
}
.a-no-sprite-png {
	background: url(a/no-sprite.png) left top no-repeat;
}
.a-1-jpg {
	background: url(a/sprite-top-down-1.jpg) left top no-repeat;
}
.a-2-jpg {
	background-image: url(a/sprite-top-down-2.jpg);
}
.a-1-png {
	background-image: url(a/sprite-top-down-1.png);
}
.a-2-png {
	background-image: url(a/sprite-top-down-2.png);
}
@media (-webkit-min-device-pixel-ratio: 2), 
(min--moz-device-pixel-ratio: 2), 
(min-device-pixel-ratio: 2) {
	.a-1-jpg {
		background: url(a/sprite-top-down-1-2x.jpg) left top no-repeat;
	}
	.a-2-jpg {
		background-image: url(a/sprite-top-down-2-2x.jpg);
	}
}
@media (-webkit-min-device-pixel-ratio: 1.5), 
(min--moz-device-pixel-ratio: 1.5), 
(min-device-pixel-ratio: 1.5) {
	.a-1-png {
		background: url(a/sprite-top-down-1-1.5x.png) left top no-repeat;
	}
	.a-2-png {
		background-image: url(a/sprite-top-down-2-1.5x.png);
	}
}

.b-no-sprite-jpg {
	background: url(b/no-sprite.jpg) left top no-repeat;
}
.b-no-sprite-png {
	background: url(b/no-sprite.png) left top no-repeat;
}
.b-1-jpg {
	background: url(b/sprite-diagonal-1.jpg) left top no-repeat;
}
.b-2-jpg {
	background-image: url(b/sprite-diagonal-2.jpg);
}
.b-1-png {
	background-image: url(b/sprite-diagonal-1.png);
}
.b-2-png {
	background-image: url(b/sprite-diagonal-2.png);
}

.c-no-sprite-jpg {
	background: url(a/c/no-sprite.jpg) left top no-repeat;
}
.c-no-sprite-png {
	background: url(a/c/no-sprite.png) left top no-repeat;
}
.c-1-jpg {
	background: url(a/c/sprite-1.jpg) left top no-repeat;
}
.c-2-jpg {
	background-image: url(a/c/sprite-2.jpg);
}
.c-1-png {
	background-image: url(a/c/sprite-1.png);
}
.c-2-png {
	background-image: url(a/c/sprite-2.png);
}