.a-1-jpg {
	background: #000 url(a/sprite-top-down-1.jpg) left top no-repeat;
}
.a-2-jpg {
	background-image: url(a/sprite-top-down-2.jpg);
}
.a-1-png {
	background-image: url(a/sprite-top-down-1.png);
}
.a-2-png {
	background-image: url(a/sprite-top-down-2.png);
}